label {
  display: inline-block;
  margin: 10px 0;
  font-size: 20px;
}

input[type="text"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

h3 {
  padding-left: 30px;
  font-size: 20px;
}

.form-controll {
  padding: 30px;
}

.addTask-btn {
  font-size: 20px;
  padding: 10px;
  margin: 0 0 20px 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.5s;
}

.addTask-btn:hover {
  background-color: rgb(0, 174, 255);
  color: #fff;
  cursor: pointer;
}
